
.matcard {
  background: linear-gradient(167.95deg, #0A84FF 0%, #5D00AE 100%);
  border-color: #fff;
  color: #fff;
}

.form-control-user {
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.6rem 0rem 0.6rem 1rem;
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}
