html,
body {
  height: 100%;
  width: 100%;
}
* {
  font-family: "Flexo-Regular";
}
@font-face {
  font-family: 'Flexo-Regular';
  src: url('../src/assets/fonts/Flexo-Regular.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Flexo-Regular.ttf') format('truetype');
}

.a-cursor{
  cursor: pointer;
}
